.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364, #0f2027);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-family: 'Arial', sans-serif;

    .box-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .box {
            width: 40px;
            height: 40px;
            margin: 0 10px;
            animation: bounce 2.5s infinite;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px; /* Adjust font size for icons */
            color: black; /* Icon color */
        }

        .box:nth-child(2) {
            animation-delay: 0.3s;
        }

        .box:nth-child(3) {
            animation-delay: 0.6s;
        }

        .box:nth-child(4) {
            animation-delay: 0.9s;
        }
    }

    .message {
        text-align: center;
        margin-top: 20px;
        font-size: 1.2rem;
        color: #ffffff; /* Text color */
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-25px);
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
